.App {
  text-align: center;
  background: #28527a;
  align-self: center;
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-button {
  margin-top: 5px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 20px;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #0055a5;
  box-shadow: 0 0 20px #eee;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
}
.gradient-button:hover {
  color: #266aaa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right,
    #aaa 0%,
    #aaa 51%,
    #aaa 100%
  );
}
.gradient-button-1:hover {
  background-position: right center;
}
